.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.nav li {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}
